## Outcome configuration based on defaults,
# yaml-language-server: $schema=https://raw.githubusercontent.com/BlankSpruce/gersemi/0.19.3/gersemi/configuration.schema.json

definitions: []
disable_formatting: false
extensions: []
# default is indent of 4, ITK uses 2
indent: 2
line_length: 80
# default is list_expansion: favour-inlining
list_expansion: favour-expansion
unsafe: false
# default is warn_about_unknown_commands: true
warn_about_unknown_commands: false
