.git*            export-ignore

*.jpg           -crlf
*.mha           -crlf
*.pdf           -crlf
*.png           -crlf
*.raw           -crlf
*.sh             crlf=input
*.sh.in          crlf=input
configure        crlf=input
cvsrmvend        crlf=input
install-sh       crlf=input
itkwish          crlf=input
newalpha         crlf=input
newversion       crlf=input
vxl_doxy.pl      crlf=input
zap.pl           crlf=input
