# Do not add ExternalData module staging files
.ExternalData*

# back-up files
*~
*.bak
# vim swp files
*.swp
*.clang_complete


# KWStyle hook output
*.kws

# compiled python files
*.pyc

# Binary directory
BUILD*
build*

# qtcreator
CMakeLists.txt.user*

# kdevelop
*.kdev*
.kdev*

# back-up files when conflicts occur
*.orig
