.git*            export-ignore

*.dsp           -crlf
*.jpg           -crlf
*.mha           -crlf
*.pdf           -crlf
*.png           -crlf
*.raw           -crlf
*.sh             crlf=input
*.sh.in          crlf=input
configure        crlf=input
cvsrmvend        crlf=input
install-sh       crlf=input
itktcl           crlf=input
time_fastops.mk  crlf=input
vxl_doxy.pl      crlf=input
zap.pl           crlf=input
