# See "git help shortlog" section "MAPPING AUTHORS"
Luis Ibanez <luis.ibanez@kitware.com>
Hans Johnson <hans-johnson@uiowa.edu> <hans.j.johnson@gmail.com>
Gaëtan Lehmann <gaetan.lehmann@jouy.inra.fr>
Arnaud Gelas <arnaudgelas@gmail.com> <arnaud_gelas@hms.harvard.edu>
Alexandre Gouaillard <agouaillard@gmail.com>
Andrew Wasem <drewwasem@gmail.com>
Matthew McCormick <matt.mccormick@kitware.com>
Matthew McCormick <matt@mmmccormick.com>
Brian Avants <stnava@gmail.com>
Nick Tustison <ntustison@gmail.com>
Xiaoxiao Liu <liuxiaoxiao@gmail.com>
Francois Budin <francois.budin@kitware.com> <francois.budin@gmail.com>
Dženan Zukić <dzenan.zukic@kitware.com>
Dženan Zukić <dzenanz@gmail.com>
