# See "git help shortlog" section "MAPPING AUTHORS"
Luis Ibanez <luis.ibanez@kitware.com>
Hans Johnson <hans-johnson@uiowa.edu> <hans.j.johnson@gmail.com>
Gaëtan Lehmann <gaetan.lehmann@jouy.inra.fr>
Arnaud Gelas <arnaud_gelas@hms.harvard.edu>
