version: 2
jobs:
  build:
    docker:
      - image: circleci/python:2.7
    working_directory: ~/
    branches:
      ignore:
        - gh-pages
        - dashboard
        - hooks
    steps:
      - checkout:
          path : ~/ITK
